:root {
    --primary-color: rgb(75, 160, 161);
    --secondary-color: rgb(226, 244, 244);
    --background-color: rgb(248, 246, 254);
    --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    --headings-font: 'Playfair Display', serif;
    --main-font: font-family: 'Rubik', sans-serif;
}

body {
   background-color: var(--secondary-color);
}

header {
    background-image: url(../images/Capri.webp);
    background-repeat: no-repeat;
    background-size: cover;
    color: var(--background-color);
    text-align: center;
    padding: 245px 0;
    display: block;
    margin-bottom: 10px;
}

header h1 {
    font-size: 70px;
    font-family: var(--headings-font);
}

header h2 {
    font-size: 30px;
    font-family: var(--headings-font);
    margin-bottom: 60px;
}

header h3 {
    font-size: 22px;
    color: var(--background-color);
    font-family: var(--headings-font);
}

section {
  max-width: 100%;
  margin: 0 auto;
  padding: 100px;
}

section.sights {
  background: var(--secondary-color)
}

main {
  background-color: white;
}

main h2 {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
  margin: 0;
  letter-spacing: 5px;
  color: #272044;
  opacity: 0.3;
  text-transform: uppercase;
}

main h3 {
  font-weight: 700;
  font-size: 40px;
  line-height: 1.5;
  color: #272044;
  margin: 0;
}

main h4 {
  font-weight: 700;
  font-size: 24px;
  line-height: 1;
  color: #272044;
  margin: 0;
}

main h5 {
  font-weight: 700;
  font-size: 13px;
  margin: 0;
  line-height: 1;
  color: #272044;
}

main p {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #272044;
  opacity: 0.7;
}

footer {
  color: white;
  background-image: linear-gradient(
      rgba(38, 147, 147, 0.9),
      rgba(0, 20, 21, 0.9)
    ),
    url("../images/Capri.webp");

  background-repeat: no-repeat;
  background-size: cover;
}

footer h3 {
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
}

footer p {
  font-weight: 400;
  font-size: 16px;
  opacity: 0.7;
  line-height: 24px;
}

footer ul {
  padding: 0;
}

footer li {
  list-style: none;
  margin: 0;
  padding: 0;
}

footer a {
  color: white;
  opacity: 0.7;
}

.text-center {
  text-align: center;
}

.grid {
  display: grid;
  grid-gap: 64px;
}

.img-responsive {
  width: 100%;
  display: block;
}

.grid-2-columns {
  grid-template-columns: 1fr 1fr;
}

.grid-3-columns {
  grid-template-columns: 1fr 1fr 1fr;
}

.grid-3-columns-with-first-narrow {
  grid-template-columns: 1fr 2fr 2fr;
}

.embed {
  width: 100%;
  aspect-ratio: 1 /1;
}

.container {
   margin-top: 10px;
   max-width: 100%;
}

.learn-more-link {
  border-radius: 4px;
  padding: 20px 30px;
  background-color: var(--primary-color);
  font-family: var(--main-font);
  color: white;
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 3px;
  text-transform: uppercase;
  text-decoration: none;
}

.fav-spot-link {
  margin-top: 60px;
}

.fav-spot-link a {
  border-radius: 4px;
  padding: 20px 30px;
  background-color: var(--primary-color);
  font-family: var(--main-font);
  color: white;
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 3px;
  text-transform: uppercase;
  text-decoration: none;
}

.card {
  background: white;
  margin: 30px 0;
  border: none;
}

.card-header.grid {
  grid-gap: 0;
}

.card-body {
  padding: 30px;
}

.card-body h4 {
  margin-bottom: 10px;
}

.card-body h5 {
  margin-bottom: 5px;
}

.card-header {
  border: none;
  background: white;
}

.card-footer {
  padding: 0 30px 30px;
  border: none;
  background: white;
}

.btn {
  display: block;
  color: white;
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 3px;
  text-transform: uppercase;
  padding: 16px;
  background-color: var(--primary-color);
  text-decoration: none;
  border-radius: 0;
}

@media (max-width: 960px) {
    .container {
        margin-top: 10px;
        max-width: 100%;
    }
    h1 {
        font-size: 50px;
    }

    h2 {
        font-size: 25px;
    }

    h3 {
        font-size: 16px;
    }
    .learn-more-link {
        border-radius: 4px;
        padding: 15px 20px;
        font-size: 14px;
    }
    .grid {
        grid-template-columns: 1fr;
        grid-gap: 32px;
    }
    section {
        padding: 30px;
    }

    .card-header img {
        display: none;
    }

    .embed {
        aspect-ratio: 16 / 9;
    }
}